.c_nav {
  position: fixed;
  width: 100%;
  background: #70707026 !important;
}

.nav_name {
  color: #daddfc !important;
}

.link_color {
  color: #daddfc !important;
}
.bg-img {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}

.typing-container {
  font-size: 29px;
  color: #fff;
  margin-bottom: 28px;
  letter-spacing: 3px;
}
